<!-- <mat-grid-list cols='12' rowHeight='125px' >
    <mat-grid-tile colspan='1' rowspan='1'></mat-grid-tile>

    <mat-grid-tile colspan='2' rowspan='1'>Image</mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='1'>Press</mat-grid-tile>
    <mat-grid-tile colspan='2' rowspan='1'>Buy</mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='1'></mat-grid-tile>


    <mat-grid-tile colspan='1' rowspan='2'></mat-grid-tile>

    <mat-grid-tile colspan='2' rowspan='2'><img class="albumImage" src="./../../assets/Images/JuanitaPhotos/products/canta-mi-son.jpg" alt='Canta Mi Son Album image'></mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'>Juanita’s latest CD of music for children, ¡Canta mi son!, has won a National Association of Parenting Products Gold award and a Disney iParenting Media award. Her voice and her music, for children and adults, are amazing!

            Juanita has lots of great songs for kids, some of them particularly good for children learning Spanish as a second language. 
            Her music exposes children to native-speaker pronunciation and has a strong cultural component, as it is closely tied to 
            the musical traditions of Mexico and other Latin American countries. In addition, in her songbooks for Volumes 1 and 2 of 
            Canta conmigo there is a teacher/parent guide that has dance, movement, and cultural explanations and 
            suggestions.<span class="italic">- Jennifer of
            <a href="https://www.spanishplayground.net/juanita-ulloa-songs-children-learning-spanish/">SpanishPlayground.com</a></span></mat-grid-tile>
    <mat-grid-tile colspan='2' rowspan='2'></mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='2'></mat-grid-tile>

    <mat-grid-tile colspan='1' rowspan='2'></mat-grid-tile>

    <mat-grid-tile colspan='2' rowspan='2'><img class="albumImage" src="./../../assets/Images/JuanitaPhotos/products/paz-y-alegria.jpg" alt='Paz y Alegria Album image'></mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'></mat-grid-tile>
    <mat-grid-tile colspan='2' rowspan='2'></mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='2'></mat-grid-tile>

    <mat-grid-tile colspan='1' rowspan='2'></mat-grid-tile>

    <mat-grid-tile colspan='2' rowspan='2'><img class="albumImage" src="./../../assets/Images/JuanitaPhotos/products/mujeres-mariachi.jpg" alt='Mujeres Y Mariachi Album image'></mat-grid-tile>
    <mat-grid-tile colspan='6' rowspan='2'></mat-grid-tile>
    <mat-grid-tile colspan='2' rowspan='2'></mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='2'></mat-grid-tile>

</mat-grid-list> -->



<mat-grid-list #grid rowHeight="1:3" >
    <mat-grid-tile *ngFor="let albums of albums1" >
        <mat-card class='card-back'>
            <mat-card-header class='card-head' color="accent">
                <mat-card-title>{{albums.albumName}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="albums.albumImage">
            <mat-card-content color="primary" [innerHTML]='albums.albumDescription'>
          
            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button>Buy <mat-icon>arrow_downward</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

