<mat-grid-list cols='12' rowHeight='60px' >
    <mat-grid-tile colspan='1' rowspan='1'>Release Date</mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='1'>Name of CD</mat-grid-tile>
    <mat-grid-tile colspan='10' rowspan='1'>Buy</mat-grid-tile>

    <mat-grid-tile colspan='1' rowspan='2'>2009</mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='2'><img class="albumImage" src="./../../assets/Images/JuanitaPhotos/products/canta-mi-son.jpg" alt='Canta Mi Son Album image'></mat-grid-tile>
    <mat-grid-tile colspan='10' rowspan='2'></mat-grid-tile>

    <mat-grid-tile colspan='1' rowspan='2'>2005</mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='2'><img class="albumImage" src="./../../assets/Images/JuanitaPhotos/products/paz-y-alegria.jpg" alt='Paz y Alegria Album image'></mat-grid-tile>
    <mat-grid-tile colspan='10' rowspan='2'></mat-grid-tile>

    <mat-grid-tile colspan='1' rowspan='2'>2001</mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='2'><img class="albumImage" src="./../../assets/Images/JuanitaPhotos/products/mujeres-mariachi.jpg" alt='Mujeres Y Mariachi Album image'></mat-grid-tile>
    <mat-grid-tile colspan='3' rowspan='2'></mat-grid-tile>
</mat-grid-list>