.mat-grid-list {
    height: 100vh;
    // background-color: rgba(219, 173, 108, 0.5);
}

.mat-grid-tile {
    border-bottom: 3px solid #006847;
}

.mat-card-image {
    padding: 5%;
}

.mat-card {
    margin: 10%;
}
.albumImage {
    height: 100px;
    width: 100px;
}

.italic {
    align-items: center;
    display: initial;
    justify-content: center;
    font-style: italic;
}