<mat-grid-list cols='12' rowHeight='120px' >
    <mat-grid-tile colspan='1' rowspan='1'>Release Date</mat-grid-tile>
    <mat-grid-tile colspan='8' rowspan='1'>Name of CD</mat-grid-tile>
    <mat-grid-tile colspan='3' rowspan='1'>Buy</mat-grid-tile>

    <mat-grid-tile colspan='1' rowspan='1'>2017</mat-grid-tile>
    <mat-grid-tile colspan='8' rowspan='1'><img class="albumImage" src="./../../assets/Images/JuanitaPhotos/products/canta-mi-son.jpg" alt='Canta Mi Son Album image'>¡Canta Mi Son!</mat-grid-tile>
    <mat-grid-tile colspan='1' rowspan='1'></mat-grid-tile>
</mat-grid-list>