.mat-grid-list {
    height: 100vh;
    background-color: rgba(219, 173, 108, 0.5);
}

.mat-grid-tile {
    border-bottom: 5px solid black;
    display: block;
}

.albumImage {
    height: 100px;
    width: 100px;
}