h1 {
  text-shadow: -5px 4px 10px black; 
  
}
h2 {
  margin-bottom: 0px;
  text-shadow: -5px 4px 7px black;
}
.headers {
  text-align: center;
  background-image: url("../../assets/Images/JuanitaPhotos/mast1.jpg");
  height: 200px;
  background-position: center;
  color: white;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.button {
  outline: none;
  border: none !important;
  margin: 5px 10px;
  width: 150px;
  // background-image: url("../../assets/Images/JuanitaPhotos/ivan-jevtic-rose.jpg");
  // background-size: 275%;
  // background-position: center;
  background-color: #CE1126;
  color: black;
  font-size: 1.5em;
  padding: 5px 20px;
}

.buttonImageResize {
  height: 30px;
}

a {
  color: white;
}
.navbar.navbar-expand-lg {
  text-align: center;
  color: white;
  background-color: white;
  border-top: 5px solid #CE1126;
  border-bottom: 5px solid #CE1126;
}

.navbar-toggler-icon {
  float: right !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}






