<!-- contact form -->
<form [formGroup]="contactForm">
  <p class="h5 text-center mb-4">Write to us</p>

  <div class="md-form">
    <i class="fa fa-user prefix grey-text"></i>
    <input type="text" id="contactFormName" formControlName="contactFormName" minlength="2" class="form-control" mdbInputDirective>
    <label for="contactFormName">Your name</label>
  </div>
  
  <div class="md-form">
    <i class="fa fa-envelope prefix grey-text"></i>
    <input type="email" id="contactFormEmail" formControlName="contactFormEmail" class="form-control" mdbInputDirective>
    <label for="contactFormEmail">Your email</label>
  </div>

  <div class="md-form">
    <i class="fa fa-tag prefix grey-text"></i>
    <input type="text" id="contactFormSubject" formControlName="contactFormSubject" class="form-control" mdbInputDirective>
    <label for="contactFormSubject">Subject</label>
  </div>

  <div class="md-form">
    <i class="fa fa-pencil prefix grey-text"></i>
    <textarea type="text" id="contactFormMessage" formControlName="contactFormMessage" class="md-textarea" style="height: 100px"
    mdbInputDirective></textarea>
    <label for="contactFormMessage">Your message</label>
  </div>

  <div class="text-center">
    <button mdbBtn color="unique" class="waves-light" type='submit' mdbWavesEffect>Send
      <i class="fa fa-paper-plane-o ml-1"></i>
    </button>
  </div>
</form>
<!-- contact form -->