

#youtube {
    width: 100%;  
}

.card-back {
    text-align: center;
    background-color: white;
    border: 5px solid #CE1126;
    border-radius: 5px;

}

.search-results {
    // background-color: rgba(219, 173, 108, 0.5);
}

.mat-raised-button {
    background-color: #006847;
}

.mat-card {
    background-color: black;
    margin: 10px;
}







