

#youtube {
    width: 100%;  
}

.card-back {
    color: black;
    text-align: center;
    background-color: white;
    border: 3px solid #006847;
    border-radius: 5px;

}

.search-results {
    height: 10% ;
    background-color: rgba(219, 173, 108, 0.5);
}



