<br>
<div class="search-results"
    infiniteScroll
    scrollWindow = "true"
    infiniteScrollDistance="2"
    infiniteScrollThrottle="500"
    (scrolled)="onScroll()">

    <mat-grid-list #grid rowHeight="1:1">
        <mat-grid-tile *ngFor="let video of videos1" >
            <mat-card class='card-back'>
                <mat-card-header class='card-head'>{{video.title}}</mat-card-header>
                <br>
            <mat-card-content class="card-content">
                <iframe width="100%" height="100%" [src]="video.video | youtube" frameborder="0" allowfullscreen encrypted-media></iframe>
            </mat-card-content>
            <mat-card-actions>
                <button color="accent" mat-raised-button>Buy <mat-icon color="primary">arrow_downward</mat-icon></button>
            </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>

