

#youtube {
    width: 100%;  
}

.card-back {
    text-align: center;
    background-color: #8AD562;

}

.search-results {
    height: 100% ;
    background-image: url("../../assets/Images/JuanitaPhotos/rose-tile.jpg");
}

.card-head {
    color: black;
}


