// .ngb-carousel {
//     height: 720px;
// }
.slide1.slide {
    width: 90%;
}
.slide2.slide {
    width: 30%;
}
.slide3.slide {
    width: 50%;
}
.slide4.slide {
    width: 60%;
}
.slide5.slide {
    width: 60%;
}
.slide6.slide {
    width: 30%;
}
.slide7.slide {
    width: 30%;
}
.slide8.slide {
    width: 30%;
}
.slide {
    object-position: +100 0;
    text-align: center;
    width: 100%;

}

@media only screen and (max-width: 720px) {
    .slide1.slide {
        width: 500px;
    }
    .slide2.slide {
        width: 75%;
    }
    .slide3.slide {
        width: 100%;
    }
    .slide4.slide {
        width: 100%;
    }
    .slide5.slide {
        object-position: -100;
        width: 100%;
    }
    .slide6.slide {
        width: 75%;
    }
    .slide7.slide {
        width: 75%;
    }
    .slide8.slide {
        width: 75%;
    }

}

#rotate {
    transform: rotate(90deg);
}
.carousel {
    outline:0px !important;
}

img {
    text-align: center;
}

#mainSlideContainer {
    background-image: url("../../assets/Images/JuanitaPhotos/rose-tile.jpg");
    background-position: fill;
    background-repeat: repeat-y;
}

#topTransperency {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/Images/JuanitaPhotos/rose-tile.jpg");
    background-position: fill;
    background-repeat: repeat-y;
    opacity: 50%;
}
.article {
    background-color: black;
    color: white;
    border: 3px solid #b9d222;
    border-radius: 5%;
    text-align: center;
}
