
.slide1.slide {
    width: 50%;
}
.slide2.slide {
    width: 20%;
}
.slide3.slide {
    width: 40%;
}
.slide4.slide {
    width: 40%;
}
.slide5.slide {
    width: 30%;
}
.slide6.slide {
    width: 20%;
}
.slide7.slide {
    width: 20%;
}
.slide8.slide {
    width: 20%;
}
.slide {
    object-position: +100 0;
    text-align: center;
    background-color: black;
    border: 3px;
    border-radius: 5px;
    color: white;

}
.carouselContainer {
    padding: 100px;
    height: 100%;
}

.blurb {
    background-color: black;
    color: white;
    border: 3px solid #b9d222;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 720px) {
    .carouselContainer {
        padding: 25px;
    }
    .slide1.slide {
        width: 100%;
    }
    .slide2.slide {
        width: 45%;
    }
    .slide3.slide {
        width: 100%;
    }
    .slide4.slide {
        width: 100%;
    }
    .slide5.slide {
        object-position: -100;
        width: 100%;
    }
    .slide6.slide {
        width: 45%;
    }
    .slide7.slide {
        width: 45%;
    }
    .slide8.slide {
        width: 45%;
    }

}

#rotate {
    transform: rotate(90deg);
}
.carousel {
    outline:0px !important;
}

img {
    text-align: center;
}

#mainSlideContainer {
    background-image: url("../../assets/Images/JuanitaPhotos/rose-tile.jpg");
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#topTransperency {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/Images/JuanitaPhotos/rose-tile.jpg");
    background-position: fill;
    background-repeat: repeat-y;
    opacity: 50%;
}
.article {
    background-color: black;
    color: white;
    border: 3px solid #b9d222;
    border-radius: 5px;
}
.gridContainer {
    margin-left: 50px;
    margin-right: 50px;
}
.mat-figure {
    padding: 5px;
}