
<div id="mainSlideContainer">
  <div class="carouselContainer">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img class="slide1 slide" [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h4>First slide label</h4>
        </div>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </ng-template>

      <ng-template ngbSlide>
        <img class="slide2 slide" [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h4>Second slide label</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </ng-template>

      <ng-template ngbSlide>
        <img class="slide3 slide" [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h4>Third slide label</h4>
        </div>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </ng-template>

      <ng-template ngbSlide>
        <img class="slide4 slide" [src]="images[3]" alt="Random fourth slide">
        <div class="carousel-caption">
          <h4>4th slide label</h4>
        </div>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide5 slide" id="rotate" [src]="images[4]" alt="Random fifth slide">
        <div class="carousel-caption">
          <h4>5th slide label</h4>
        </div>
        <br>
        <br>
        <br>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide6 slide" [src]="images[5]" alt="Random sixth slide">
        <div class="carousel-caption">
          <h4>6th slide label</h4>
        </div>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide7 slide" [src]="images[6]" alt="Random seventh slide">
        <div class="carousel-caption">
          <h4>7th slide label</h4>
        </div>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide8 slide" [src]="images[7]" alt="Random eighth slide">
        <div class="carousel-caption">
          <h4>8th slide label</h4>
        </div>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </ng-template>  
    </ngb-carousel>
  </div>
<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. </div>

<mat-grid-list #grid rowHeight="1:1">
  <mat-grid-tile class="article">
    <div>This will be some info you want to put on the home page. This area can include links to other pages and content.</div>
  </mat-grid-tile>
    
  <mat-grid-tile class="article">
    <div>This will be some info you want to put on the home page.</div>
  </mat-grid-tile>  

  <mat-grid-tile class="article">
    <div>This will be some info you want to put on the home page.</div>
  </mat-grid-tile> 
</mat-grid-list>
</div>






