
<div id="mainSlideContainer">

  <div class="carouselContainer">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img class="slide1 slide" [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h4>First slide label</h4>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img class="slide2 slide" [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h4>Second slide label</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img class="slide3 slide" [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h4>Third slide label</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img class="slide4 slide" [src]="images[3]" alt="Random fourth slide">
        <div class="carousel-caption">
          <h4>4th slide label</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
 
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide5 slide" id="rotate" [src]="images[4]" alt="Random fifth slide">
        <div class="carousel-caption">
          <h4>5th slide label</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide6 slide" [src]="images[5]" alt="Random sixth slide">
        <div class="carousel-caption">
          <h4>6th slide label</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
        
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide7 slide" [src]="images[6]" alt="Random seventh slide">
        <div class="carousel-caption">
          <h4>7th slide label</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
        
      </ng-template>

      <ng-template ngbSlide>
      <img class="slide8 slide" [src]="images[7]" alt="Random eighth slide">
        <div class="carousel-caption">
          <h4>8th slide label</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
        
      </ng-template>  
    </ngb-carousel>
    <!-- <div class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. </div> -->
    </div> 
  </div>
<br>
    <div class="gridContainer">
      
      <p class='about'>
        
        JUANITA ULLOA (OO-YO-AH), also known as Juanita Martin Newland Ulloa, is one of the USA's rising star singer/songwriters of crossover music from Mexico, Spain and Latin America. While singing standard Classical repertoire in all pertinent languages, Ms. Ulloa specializes in the performance, promotion and study of Classical and folkloric Hispanic vocal styles from many of the world’s twenty-four Spanish speaking countries. She inadvertently initiated the unique "Operachi" style of singing while seeking for a healthier way to sustain mariachi singing, thus combining Opera techniques with Mariachi in a unique way for women in mariachi flavored music. A five timer winner of the Festival de la canción latinoamericana, she has also trained and continues to train competition finalists and winners.
        Ms. Ulloa is a Ph.D Candidate from the University of Colorado in opera/vocal performance and a Yale University and UC Berkeley graduate (BA and MA Music) with eight prize winning CDs and three songbooks in libraries worldwide, with the world's first ever Mariachi for Kids & Families CD. She has served as a musical ambassador for Peru and Mexico, entertaining and dignitaries and ambassadors in Spain, Peru, Mexico and major cities in the USA. She is also active in voice-overs, offering master classes in voice and her specialty areas and works is a licensed and certified Spanish-Engish linguist for the courts of Nevada, Texas, and Colorado. Juanita Ulloa is currently based in El Paso, Texas as a Visiting Assistant Professor of Voice for the voice department at the University of Texas at El Paso, also known as UTEP.
      
      </p>
          <hr class='hr'>
      <p class='about spanish'>

        JUANITA ULLOA, también conocida como Juanita Martin Newland Ulloa, es una de las estrellas emergentes estadounidenses del canto y la composición de música ecléctica que se nutre de elementos de la cultura mexicana, española, y latinoamericana, tierras donde se crió. Aunque domina el repertorio Clásico de rigor en todos los idiomas pertinentes, la Srta. Ulloa se especializa en la representación, promoción, y estudio de estilos vocales Clásicos y folclóricos hispanos de varios de los veinticuatro países hispanoparlantes. Ella inició inadvertidamente el estilo único "Operachi" de canto cuando buscaba una manera más sana de sostener el canto de mariachi, combinando así técnicas de la ópera con el Mariachi de una manera única para mujeres en la música con sabor a mariachi. Ganadora en cinco ocasiones del Festival de la Canción Latinoamericana, ella también ha capacitado y sigue capacitando a los finalistas y ganadores de esta y otras competencias.
        La Srta. Ulloa es candidata a Doctorado en Artes de la Universidad de Colorado en ópera/representación vocal y es egresada de las universidades de Yale y UC Berkeley (Licenciatura en Artes y Maestría en Artes en Música) con ocho CDs premiados y tres libros de canciones en bibliotecas de todo el mundo, con el primer CD de Mariachi para Niños y Familias, un ganador del premio Disney titulado Canta Mi Son!
        Juanita ha actuado como embajadora musical para Perú y México, entreteniendo a dignatarios y embajadores en España, Perú, México, y en ciudades importantes de los Estados Unidos de América. También es activa en el doblaje, ofreciendo clases magistrales en voz y sus áreas de especialidad en todo el mundo y trabaja como lingüista certificada y autorizada de Español-Inglés para los tribunales de Nevada, Texas, y Colorado. Juanita Ulloa, actualmente domiciliada en El Paso, Texas, funge como Profesora de Voz Adjunta Visitante para el Departamento de Voz de la Universidad de Texas en El Paso, también conocida como UTEP.
            
      </p>

    </div>








