
// .carousel-indicators {
//     position: relative !important;
// }
// .slide1.slide {
//     height: 400px;
// }
// .slide2.slide {
//     height: 400px;
// }
// .slide3.slide {
//     width: 40%;
// }
// .slide4.slide {
//     width: 40%;
// }
// .slide5.slide {
//     width: 30%;
// }
// .slide6.slide {
//     width: 20%;
// }
// .slide7.slide {
//     width: 20%;
// }
// .slide8.slide {
//     width: 20%;
// }
.slide {

    background-image: url("../../assets/Images/JuanitaPhotos/dj-paine-565507-unsplash.jpg");
    background-size: cover;
    background-position-y: -100px;
    height: 500px; 
    text-align: center;
    color: white;
}

ngb-carosel {
    width: 100%;
}

#rotate {
    transform: rotate(90deg);
}
.carousel {
    outline:0px !important;
}

img {
    text-align: center;
}
//     background-repeat: repeat-y;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;

// #topTransperency {
//     height: 100vh;
//     width: 100vw;
//     //background-image: url("../../assets/Images/JuanitaPhotos/rose-tile.jpg");
//     background-position: fill;
//     background-repeat: repeat-y;
//     opacity: 50%;

.article {
    background-color:white;
    color: black;
    // border: 3px solid #b9d222;
    // border-radius: 5px;
}
// .gridContainer {
//     margin-left: 50px;
//     margin-right: 50px;
//}
.mat-figure {
    padding: 5px;
}
.gridContainer {
    height: 100vh;
}

.about {
    margin: 6%;
    text-align: center;
    width: 85%;
}

.hr {
    width:85%;
}

.carousel-caption {
    padding-bottom: 0px;
    bottom: 0px;
}
// .carousel-indicators li {
//     height: 0px !important;
// }

@media only screen and (max-width: 858px) {

    .slide {
        background-position-y: -60px;
        height: 350px;
        background-size: 110%;
    }
    .slide3 {
        height: 350px;
    }
    .slide5 {
        height: 350px;
    }
}
@media only screen and (max-width: 568px) {
    .slide {
        background-position-y: -50px;
        background-size: 150%;
    }
    .slide5 {
        height: 350px;
        left: 0px;
    }
}
@media only screen and (max-width: 320px) {
    .slide {
        background-position-y: -50px;
        background-size: 200%;
    }
    .slide1 {
        left: -35%;
        position: relative;
    }
    .slide3 {
        position: relative;
        left: -30%;
    }
    .slide5 {
        left: -20%;
        position: relative;
    }
}
